/* body {
	margin-left: 9%;
	min-width: 479px;
} */

h1, h2, h3, h4, h5, h6 {
	font-size: 1.5em;
	margin: 1.5em 0 0.4em;
	font-family: sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 2.8em;
	margin: 1.0em 0;
	max-width: 800px;
}

a.github-button {
    display: inline-block;
    width: 100px;
}

@media (min-width: 900px) {
	h1 {
		font-size: 4.0em;
		margin: 1.0em 0;
		max-width: 800px;
	}
	h1 iframe {
		transform: scale(1.5) translate(25%,-14%);
	}
}

.tag-name {
	color: crimson;
}

.tag-marker {
	color: #0000f0;
}
/* 
.speech-input {
	width: 440px;
	max-width: 100%;
	font-size: 2em;
	padding: 0.4em;
	box-sizing: border-box;
}

.container {
    position: relative;
    display:inline-block;
    min-height: 200px;
    min-width: 500px;
}
.text-area {
    width: 100%;
    height: 100%;
    border:1px solid #ccc;
    display:inline-block;
    min-height: 194px;
    min-width: 494px;
}

.hidden {
    display:none;
}

.icon{
	position:absolute;
	right:5px;
	bottom:10px;
	margin:auto;
    display:block;
    border-radius: 8px;
    box-shadow: none;
    border:0px;
}
.icon:focus{
    outline: none;
}

.microphone{
	width:2em;
	height:6em;
	background:#fff;
	border-radius:1em;
}
.microphone:before{
	content:"";
	position:absolute;
	bottom:-1em;
	left:-1em;
	width:4em;
	height:0.5em;
	background:#fff;
}
.microphone:after{
	content:"";
	position:absolute;
	bottom:-0.5em;
	left:-0.5em;
	width:3em;
	height:3em;
	border:0.3em solid #fff;
	border-top:0.3em solid #3dc0f1;
	border-radius:0 0 1.5em 1.5em;
}
.button-working{
    color: red;
} */